

<div class="inventoryman">
  <img src="assets/image/inventorymanager.png" alt="">
    
   </div>
<div class="login" >
  <div class="card">
       <span class="borderLine"></span>   
        <!--login function is from login value in input-->
     <form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <img src="assets/image/naftallogo.png" alt="naftal logo">
       
       <h2>Log In</h2>
        <!--IMPORTANT! TO GET THE NAME AND ID OF THE USER 
        WE WILL GO TO SPRINGBOOT WE ACCESS JwtRequest file which have the userName and UserPassword-->
       <div class="inputcard">
        
        <input type="text" 
        ngModel
        name="matricule"
        required>
        <span ><b> Matricule</b></span>
        <i></i>
      </div>
       

      <div class="inputcard">
     
       <input type="password" 
       ngModel
       name="password"
       required>
       <span > <b> Mot de passe</b></span>
       <i></i>
       </div>
       <div class="together"> <div class="links">
       <input type="checkbox" id="check" >
        <label for="check" style="margin-left: 5px;" ><b> Remember me</b></label>
        
      </div>
      <span> <a routerLink="/signup" style=" color: black;"><b>Sign Up</b></a> </span>
    </div>
      
      
       
      <div class="inputcard"> <input type="submit"  value="Login"></div>
      
     
    </form>
    
   
</div>
</div>
