<div class="container-fluid page">
    <div class="page__box p-3 mt-2">User Details</div>
    <div class="page__content shadow p-3 position-relative">
        
        <div class="page__content-data position-absolute">
           
           
            <div class=" example-container mat-elevation-z8">
                <!-- <mat-form-field>
                    <mat-label>Rechercher</mat-label>
                    <input matInput placeholder="Ex. John" #input>
                  </mat-form-field>
                  this one is for user account
                  <h5> Matricule : {{user.matricule}}</h5>
                <br>
                <p>Nom : {{user.nom}}</p>-->
                
                <div style="display: flex; justify-content: flex-start;">
                    
                    <div class="card-body">
                        <p class="card-text"><i>Nom:</i> imane Midoune</p><!-- {{user.name}}-->
                        
                        <p class="card-text"> <i>Email:</i> md@gmail.com</p>
                        <p class="card-text"> <i>Matricule:</i> 1234 </p>
                        <p class="card-text"> <i>Role:</i> chef de centre</p>
                        <br>
                        <button class="btn btn-primary" (click)="showPasswordForm()">Changer le mot de passe</button>
                    </div>
                    
                </div>
               
                
                <div *ngIf="showPasswordFormPopup">
                
                    <div class="popup-container">
                      <h2>Changer le mot de passe  </h2>
                      <form (submit)="submitPasswordForm()">
                        <label for="old-password">Ancienne mot de passe<i style="color: red;">*</i></label>
                        <input type="password" id="old-password" name="old-password" required>
                  
                        <label for="new-password">Nouvelle mot de passe<i style="color: red;">*</i></label>
                           <input type="password" id="new-password" name="new-password" required>
                  
                        <label for="confirm-password">Confirmer le mot de passe<i style="color: red;">*</i></label>
                        <input type="password" id="confirm-password" name="confirm-password" required>
                        <div class="button-container">
                            <button type="submit">Confirmer</button>
                            <button (click)="hidePasswordForm()">Annuler</button>
                        </div>
                        
                      </form>
                     
                    </div>
                </div>


            </div>
                
                

                
        </div>
    </div>
</div>

