<div class="container-fluid page">
    <div class="page__box p-3 mt-2">User Details</div>
    <div class="page__content shadow p-3 position-relative">
        
        <div class="page__content-data position-absolute">
           
           
            <div class=" example-container mat-elevation-z8">
                <!-- <mat-form-field>
                    <mat-label>Rechercher</mat-label>
                    <input matInput placeholder="Ex. John" #input>
                  </mat-form-field>
                  this one is for user account
                  <h5> Matricule : {{user.matricule}}</h5>
                <br>
                <p>Nom : {{user.nom}}</p>-->
                <div style="display: flex; justify-content: flex-start;">
                    <h5> Matricule: 1234 </h5>
                    
                    <p>Nom : imane </p>
                    <br>
                    <p>Prénom : imane</p>
                </div>
               
                



            </div>
                
                

                
        </div>
    </div>
</div>

