<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        <div class="page__box p-3 mt-2" style="display: flex; align-items: center;">Admin
            <div style="display: flex; justify-content: flex-end; flex: 1; ">
                <ul>
                  <li>
                     <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                      <img src="assets/image/userlogo.png" alt="" class="user-image mr-1 p-2" /><b style="color: azure;"> User Name</b>
                      <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                     </button>
                     <mat-menu #menu="matMenu">
                      <button mat-menu-item onclick="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                      logout
                      </button>
                     </mat-menu>
                </li>
              </ul>
              </div>
             <!-- <div style="display: flex; justify-content: flex-end; flex: 1; "><mat-form-field>
             <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" #input >
                 </mat-form-field>
            </div> -->
    </div>
    <div class="page__content shadow p-3 position-relative">
        
        <div class="page__content-data position-absolute">
            
            <div class=" example-container mat-elevation-z8">
                
                <table mat-table [dataSource]="dataSource" matSort >
    
                    <!--id column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let user">{{user.id}}</td>
                        
                    </ng-container>
    
                     <!--firstname column -->
                     <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom et prénom</th>
                        <td mat-cell *matCellDef="let user">{{user.name}}</td>
    
                    </ng-container>
    
                    <ng-container matColumnDef="matricule">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</th>
                        <td mat-cell *matCellDef="let user">{{user.matricule}}</td>
    
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let user">{{user.email}}</td>
    
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                        <td mat-cell *matCellDef="let user">{{user.role}}</td>
    
                    </ng-container>
                    <ng-container matColumnDef="structure_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Structure</th>
                        <td mat-cell *matCellDef="let user">{{user.structure_id}}</td>
    
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let user">{{user.status}} 
                            <mat-icon class="pending" *ngIf="user.status === 'pending'">query_builder</mat-icon>
                            <mat-icon class="accepted" *ngIf="user.status === 'accepted'">check_circle</mat-icon>
                            <mat-icon class="refused" *ngIf="user.status === 'refused'">delete_forever</mat-icon>
                        </td>
    
                    </ng-container>
                    <ng-container matColumnDef="Compte_isActivated">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>compte activé</th>
                        <td mat-cell *matCellDef="let user">{{user.Compte_isActivated}}</td>
    
                    </ng-container>
                    <ng-container matColumnDef="edited_by">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>éditer par:</th>
                        <td mat-cell *matCellDef="let user">{{user.edited_by}}</td>
    
                    </ng-container>

                    <ng-container matColumnDef="icon">
                        <th mat-header-cell *matHeaderCellDef>Icon</th>
                        <td mat-cell *matCellDef="let user">
                            <div class="example-button-row">
                            <button mat-raised-button color="primary" (click)="showacceptedForm(user)">Modifier</button>
                            <button mat-raised-button color="warn" (click)="showrefusedForm(user)">Supprimer</button>
                        
                        </div>
                        <div *ngIf="showacceptedFormPopup && selectedRow == user">
                
                            <div class="popup-container">
                              <h2>Voulez vous accepter ou réfuser la demande?</h2>
                              
                                
                                <div class="button-container">
                                    <button (click)="handleAccepted(user)" >accepter</button>
                                    <button (click)="handleRefused(user)">réfuser</button>
                                    <button (click)="hideacceptedForm()">Annuler</button>
                                </div>
                                
                             
                             
                            </div>
                        </div>

                            
                        </td>
                    </ng-container>
                    



                    <!--
                        <ng-container matColumnDef="here">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let row" colspan="2"> 
                            <mat-icon
                                 class="accepted" 
                                 [ngClass]="{ 'selected-icon': row.accepted, 'not-selected-icon': !row.accepted, 'pointer-cursor': !row.accepted || row.refused, 'default-cursor': row.accepted && !row.refused}"
                                 (click)="handleAccepted(row)" > query_builder
                            </mat-icon>
                            <mat-icon
                                 class="accepted" 
                                 [ngClass]="{ 'selected-icon': row.accepted, 'not-selected-icon': !row.accepted, 'pointer-cursor': !row.accepted || row.refused, 'default-cursor': row.accepted && !row.refused}"
                                 (click)="handleAccepted(row)" > check_circle
                            </mat-icon>
                            <mat-icon 
                                 class="refused" 
                                 [ngClass]="{ 'selected-icon': row.refused, 'not-selected-icon': !row.refused , 'pointer-cursor': !row.refused || row.accepted, 'default-cursor': row.refused && !row.accepted}"
                                 (click)="handleRefused(row)"  > delete_forever
                            </mat-icon>
                        </td>
                        
    
                    </ng-container>
                        
                    -->
                    

                    <!--this is the most important 

                      <ng-container matColumnDef="here">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let row" colspan="2"> 
                            <mat-icon
                                 class="refused" 
                                 [ngClass]="{'pointer-cursor':row.here}"
                                 *ngIf="!clicked" (click)="showIconsFor(row);showIcons = !showIcons;"> query_builder
                            </mat-icon>
                            <div *ngIf="showIcons && selectedRow == row">
                                <mat-icon class="accepted" [ngClass]="{ 'selected-icon': row.accepted, 'not-selected-icon': !row.accepted, 'pointer-cursor': !row.accepted || row.refused, 'default-cursor': row.accepted && !row.refused}" (click)="showacceptedForm(row)">check_circle</mat-icon>
                                
                                <mat-icon class="refused" [ngClass]="{ 'selected-icon': row.refused, 'not-selected-icon': !row.refused , 'pointer-cursor': !row.refused || row.accepted, 'default-cursor': row.refused && !row.accepted}" (click)="showrefusedForm(row)">delete_forever</mat-icon>
                                
                            </div>
                            <div *ngIf="showacceptedFormPopup && selectedRow == row">
                
                                <div class="popup-container">
                                  <h2>Voulez vous accepter la demande?</h2>
                                  <form (submit)="handleAccepted(row)">
                                    
                                    <div class="button-container">
                                        <button type="submit">Confirmer</button>
                                        <button (click)="hideacceptedForm()">Annuler</button>
                                    </div>
                                    
                                  </form>
                                 
                                </div>
                            </div>

                            <div *ngIf="showrefusedFormPopup && selectedRow == row">
                
                                <div class="popup-container">
                                  <h2>Voulez vous réfuser la demande?</h2>
                                  <form (submit)="handleRefused(row)">
                                    
                                    <div class="button-container">
                                        <button type="submit">Confirmer</button>
                                        <button (click)="hiderefusedForm()">Annuler</button>
                                    </div>
                                    
                                  </form>
                                 
                                </div>
                            </div>

                        </td>
                        
    
                    </ng-container> -->
                    
                    
                    <!-- <div *ngIf="showPasswordFormPopup">
                
                        <div class="popup-container">
                          <h2>Voulez Vous accepter la demande?</h2>
                          <form (submit)="submitPasswordForm()">
                            
                            <div class="button-container">
                                <button type="submit">Confirmer</button>
                                <button (click)="hidePasswordForm()">Annuler</button>
                            </div>
                            
                          </form>
                         
                        </div>
                    </div>
                    -->
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
                    
                </table>
          
                <mat-paginator class="custom-paginator" [pageSizeOptions]="[7, 8]"  showFirstLastButtons  aria-label="select a page"></mat-paginator>

                
            </div>
    </div>
</div>


