@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    
}
.example-container {
  height: 500px;
  width: 990px;
  max-width: 100%;
  overflow-x: auto;
}

.page .page__box {
    min-height: 120px;
    background: #213164;
    margin: 0 -1rem;
    font-size: 36px;
  }
  .page .page__content {
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
  }
  
  .page .page__content .page__content-data {
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    
  }

  .mat-cell {
    font-size: 12px;
  }
  
  table {
    width: 100%;
    
  }
  .mat-mdc-form-field {

    font-size: 14px;
    
    
  }
  
  
  td, th {
    width: 25%;
    font-size: 23px;
    font-family: arial,sans-serif;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .custom-paginator {
    font-size: 20px; /* change the font size */
    height: 40px; /* change the height */
    font-family: arial,sans-serif;
  }
  .mat-icon.not-selected-icon {
    display: none;
  }
.mat-icon.pending {
  color: orange;
}

.mat-icon.accepted {
  color: green;
}
.mat-icon.refused{
  color: red;
}
.mat-icon.accepted ,
.mat-icon.refused {
  
  margin-right: 60px; /* Adjust the margin as needed */

}
.mat-icon {
  display: inline;
}


.pointer-cursor {
    cursor: pointer;
  }
  
  .default-cursor {
    cursor: default;
  }


  ul li {
    list-style: none;

    
}

button {
    border: 0;
    outline: none;
    background: transparent;
}
.user {
    font-size:14px;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-image-icon {
    height: 18px;
    font-size: 16px;
    color: azure;
}

::ng-deep .mat-menu-content {
    width: 160px;
}


.popup-container {
  background-color: white;
  width: 500px; /* adjust the width as per your requirement */
  padding: 15px;
  position: fixed;
  top: 49%;
  left: 52%;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-container h2 {
  font-size: 25px;
  margin-top: 0;
  text-align: center;
 
}




.popup-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #213164;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.popup-container button[type="button"] {
  background-color: #213164;
 
}

.popup-container button[type="submit"]:hover, .popup-container button[type="button"]:hover {
  background-color: #213164;
 
}

.popup-container button[type="submit"]:focus, .popup-container button[type="button"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #213164;
}

.btn-primary {
  background-color: #213164;
  border-color: #ccc;
  border-radius: 10px;
  margin-left: 25px;
  padding: 10px 10px;
  
}

.popup-container button {
  display: inline-block;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 50px;
}
