<div class="inventoryman">
    <img src="assets/image/inventorymanager.png" alt="">
      
     </div>
  <div class="signup" >
    <div class="card">
         <span class="borderLine"></span>   
          <!--login function is from login value in input-->
       <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <img src="assets/image/inventorylogo.png" alt="yel inventory logo">
         
         <h2>Sign Up</h2>
         
         <div class="inputcard">
          
          <input type="text" 
          ngModel
          name="name">
          <span ><b> Nom</b></span>
          <i></i>
          <div class="error-message" *ngIf="signuperror"> <b style="color: red;">Le nom est vide!</b></div>
        </div>
        <div class="inputcard">
          
            <input type="text" 
            ngModel
            name="matricule">
            <span ><b> Matricule</b></span>
            <i></i>
            <div class="error-message" *ngIf="signuperror"> <b style="color: red;">Le matricule est vide!</b></div>
          </div>
          <div class="inputcard">
       
            <input type="password" 
            ngModel
            name="password">
            <span > <b> Mot de passe</b></span>
            <i></i>
            <div class="error-message" *ngIf="signuperror"> <b style="color: red;"> le mot de passe email est vide!</b></div>
           </div>
           <div class="inputcard">
          
               <input type="email" 
               ngModel
               name="email">
               <span > <b> Email</b></span>
               <i></i>
               <div class="error-message" *ngIf="signuperror"> <b style="color: red;">email est vide!</b></div>
           </div>
              

  <div class="container">
        <div class="inputcard">
          <select name="role"  ngModel>
                   <option value="" disabled selected>choisi un role</option>
                   <option value="chefunite">chefunite</option>
                   <option value="chefcentre">chefcentre</option>
                   <option value="chefequipe">chefequipe</option>
               </select>
               <span > <b> Role</b></span>
          
               
   
        </div>
    
        <div class="inputcard">
              
                <select name="structure_type"  [(ngModel)]="selectedStructure" (change)="onSelectStructure($event)">
               <option value="" disabled selected>choisi une stricture</option>
               <option value="centre">centre</option>
               <option value="unite">unité</option>
               
               </select> 
                <span > <b> Structure</b></span>
               
           
        </div> 
        <div class="inputcard">
          
          <input type="string" 
          ngModel
          name="structure_id">
          <span > <b>structure id</b></span>
          <i></i>
      </div>

      
        
  </div>
    
        
      <div class="together"> 
        <span> <a routerLink="/login" style=" color: black; margin-bottom: 4px; "><b>Go back to login</b></a> </span>
        

      </div>
      <div class="inputcard" style="margin: auto;"> 
        <input type="submit"  value="Sign Up">
      </div>
        
        
         
       
        
       
      </form>
      
     
    </div>
  </div>
  
  