<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/image/naftallogo.png" alt=" Logo">
    </div>
    <mat-divider></mat-divider>
    
    <h1 matSubheader class="mt-2" style="text-align: center; ">Naftal Manager</h1>
    <h2 matSubheader class="mt-2" style="text-align: left; ">Infrastricture</h2>

    <!--
        <mat-list-item [matMenuTriggerFor]="inventoryMenu">
        <mat-icon>inventory</mat-icon>
        <b>Inventory</b>
      </mat-list-item>
     
      
      <mat-menu #inventoryMenu="matMenu">
        <a mat-list-item routerLink="chefunite" routerLinkActive="list-item-active" >
            <mat-icon>dashboard </mat-icon> <b>Unité</b> </a>
    
        <a mat-list-item routerLink="chefcentre" routerLinkActive="list-item-active" >
                <mat-icon>dashboard </mat-icon> <b>Centre</b> </a>
    
        <a mat-list-item routerLink="cheféquipe" routerLinkActive="list-item-active" >
                    <mat-icon>dashboard </mat-icon> <b>Localité</b> </a>
      </mat-menu>
    -->
   
     
      
     
        <a mat-list-item routerLink="unite" routerLinkActive="list-item-active" >
            <mat-icon>dashboard </mat-icon> <b>Unité</b> </a>
    
        <a mat-list-item routerLink="centre" routerLinkActive="list-item-active" >
                <mat-icon>dashboard </mat-icon> <b>Centre</b> </a>
    
        <a mat-list-item routerLink="localite" routerLinkActive="list-item-active" >
                    <mat-icon>dashboard </mat-icon> <b>Localité</b> </a>
      

    
            
      <h2 matSubheader class="mt-2" style="text-align: left;">Inventaire</h2>
    <a mat-list-item routerLink="chefcentre" routerLinkActive="list-item-active" >
        <mat-icon>assignment_ind</mat-icon> <b>Chef Centre</b> </a>

       
    <a mat-list-item routerLink="chefequipe" routerLinkActive="list-item-active">
        <mat-icon>assignment_ind</mat-icon> <b>Chef Équipe</b> </a>

    <a mat-list-item routerLink="chefunite" routerLinkActive="list-item-active" >
        <mat-icon>assignment_ind</mat-icon><b>Chef Unité</b>  </a>

    <a mat-list-item ><mat-icon>description </mat-icon><b>Plan D'inventaire</b></a>
    <a mat-list-item routerLink="settings" routerLinkActive="list-item-active"><mat-icon>settings</mat-icon><b>Settings</b></a>
    
</mat-nav-list>
